:host {



    .total-customers-color {
        color: #4482f6 !important;
    }

    .bg-color-btn {
        background-color: rgba(29, 36, 121, 0.2) !important;
    }

    .total-merchants-color {
        color: #ee9e1e !important;
    }

    .total-contracts {
        color: #5fc65f !important;
    }

    .btn-border {
        border: 1px solid #ccc;
    }
}
